<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SMSGatewayService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>   
    <add name="SMS_GatewayEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.40.129.93;initial catalog=SMS_Gateway;persist security info=True;user id=sa;password=@dmin01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="emailbankingEntities" connectionString="metadata=res://*/IBOutgoingSMSModel.csdl|res://*/IBOutgoingSMSModel.ssdl|res://*/IBOutgoingSMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.40.1.250;initial catalog=emailbanking;persist security info=True;user id=svc_eazymobile;password=Nbseazymobile1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <SMSGatewayService.Properties.Settings>
      <setting name="TnmID" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="AirtelID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SendFrom" serializeAs="String">
        <value>322</value>
      </setting>
      <setting name="SMSEntitiesConnectionString" serializeAs="String">
        <value>data source=10.40.129.93;initial catalog=SMS_Gateway;integrated security=False;user id=sa;password=@dmin01;</value>
      </setting>
    </SMSGatewayService.Properties.Settings>
  </applicationSettings>
</configuration>
